{% load static %}

<!-- Inclua o link para a biblioteca FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-pz/Z9bFOpE9lD6J7dCqz5BE8RNjbhPh0vWxUGYSLwxtfLLq5fYTkj5ZxZ1Tx6S7Vsg3f0rOL1jFX7vc7Xulz2Ew==" crossorigin="anonymous" />

<style>
    /* Estilos para o formulário */
    h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 18px;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"] {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button[type="submit"] {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    /* Estilos para a mensagem de sucesso */
    .success-message {
        text-align: center;
        color: #008000;
        font-weight: bold;
        margin-top: 20px;
        font-size: 20px;
    }

    /* Estilos para ícones */
    .fa-icon {
        margin-right: 10px;
        font-size: 24px;
    }
</style>

{% block content %}
    <div class="container">
        <h2><i class="far fa-user fa-icon"></i> Cadastrar Vaga</h2>
        <form method="post">
            {% csrf_token %}
            <label for="{{ form.titulo.id_for_label }}"><i class="far fa-file-alt fa-icon"></i> Título:</label>
            {{ form.titulo }}
            <label for="{{ form.empresa.id_for_label }}"><i class="far fa-building fa-icon"></i> Empresa:</label>
            {{ form.empresa }}
            <label for="{{ form.descricao.id_for_label }}"><i class="far fa-comment fa-icon"></i> Descrição:</label>
            {{ form.descricao }}
            <button type="submit">Enviar</button>
        </form>
        {% if request.method == 'POST' and form.is_valid %}
        <p class="success-message">A vaga foi cadastrada com sucesso!</p>
        {% endif %}
    </div>
{% endblock %}
