{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Candidato</title>
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href=" "><img src="{% static 'jobslogo.jpg' %}" alt="Logo do Site de Empregos"></a>
                <h1>Encontre o Emprego dos seus Sonhos</h1>
            </div>
        </nav>
        <section class="login-section">
            <a href="/minhas_candidaturas" class="login-button">Minhas Candidaturas</a>
            <a href="#" class="signup-button">Sair</a>
        </section>
    </header>

    <!-- Conteúdo específico para o painel do candidato -->

</body>
</html>
