<!--

<html>

    <head>
      


    </head>


    <body>

      <form action="{% url 'login_user' %}" method="POST">{% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <br>
        <input type="password" placeholder="Senha" name="senha">
        <br>
        <input type="submit"value="Logar">
        <br>
      </form>





    </body>



</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- Inclua o link para a biblioteca FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-pz/Z9bFOpE9lD6J7dCqz5BE8RNjbhPh0vWxUGYSLwxtfLLq5fYTkj5ZxZ1Tx6S7Vsg3f0rOL1jFX7vc7Xulz2Ew==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'style/login.css' %}">
    <style></style>
</head>
<body>
    <form action="{% url 'login_user' %}" method="POST">{% csrf_token %}
        <h1><i class="fas fa-user"></i> Login</h1>
        <div class="formcontainer">
            <hr/>
            <div class="container">
                <label for="uname"><strong>Usuário</strong></label>
                <input type="text" placeholder="Informe Seu Usuario" name="username" required>
                <label for="psw"><strong>Senha</strong></label>
                <input type="password" placeholder="Informe Sua Senha" name="senha" required>
            </div>
            <button type="submit">Login <i class="fas fa-sign-in-alt"></i></button>
        </div>
    </form>
</body>
</html>
