{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>New Member Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/registerempresa.css' %}">
  </head>
  <body>
    <div class="testbox">
      <form action="/">
        <p>Preencha com as informações para Cadastrar sua Empresa </p>
        <div class="colums">
          <div class="item">
            <label for="fname"> Nome da Empresa<span>*</span></label>
            <input id="fname" type="text" name="fname" required/>
          </div>
            <div class="item">
            <label for="street"> Endereço<span>*</span></label>
            <input id="street" type="text" name="street" required/>
          </div>
            <div class="item">
            <label for="state"> Estado<span>*</span></label>
            <input id="state" type="text" name="state" required/>
          </div>
            <div class="item">
            <label for="city"> Cidade<span>*</span></label>
            <input id="city" type="text" name="city" required/>
          </div>
            <div class="item">
            <label for="email"> E-mail<span>*</span></label>
            <input id="email" type="text" name="email" required/>
          </div>
            <div class="item">
            <label for="fone"> Telefone<span>*</span></label>
            <input id="fone" type="text" name="fone" required/>
          </div>
        </div>
        <div class="question">
          <label>Plano Empresarial </label>
          <div class="question-answer">
            <div>
              <input type="radio" value="none" id="radio_1" name="type"/>
              <label for="radio_1" class="radio"><span>Free</span></label>
            </div>
            <div>
              <input  type="radio" value="none" id="radio_2" name="type"/>
              <label for="radio_2" class="radio"><span>Standard</span></label>
            </div>
            <div>
              <input  type="radio" value="none" id="radio_3" name="type"/>
              <label for="radio_3" class="radio"><span>Premium</span></label>
            </div>
          </div>
        </div>
          </div>
        </div>
        <h2>Termos e condições </h2>
        <input type="checkbox" name="checkbox1">
        <label>Você concorda em receber nossas comunicações eletronicamente. Entraremos em contato com você por e-mail ou telefone. Você concorda que todos os acordos, avisos, divulgações e outras comunicações que fornecemos a você eletronicamente satisfazem qualquer requisito legal de que tais comunicações sejam feitas por escrito.</label>
        <div class="btn-block">
          <button type="submit" href="/">Enviar</button>
        </div>
      </form>
    </div>
  </body>
</html>