<!DOCTYPE html>
<html>
  <head>
    <title>Relatório de Candidatos</title>
  </head>
  <body>
    <h1>Relatório de Candidatos</h1>
    <table>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Experiência</th>
        {#<!-- Adicione mais colunas conforme necessário -->#}
      </tr>
      {% for candidato in candidatos %}
        <tr>
          <td>{{ candidato.nome }}</td>
          <td>{{ candidato.idade }}</td>
          <td>{{ candidato.experiencia }}</td>
          {#<!-- Adicione mais colunas conforme necessário -->#}
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
