<!DOCTYPE html>
<html>
  <title>Login</title>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">    
  </head>
  <body>
    <form method="POST" action="{% url 'register' %}">
  {% csrf_token %}
  <h1>Registro</h1>
  <div class="icon">
    <i class="fas fa-user-circle"></i>
  </div>
  <div class="formcontainer">
    <div class="container">
      <label for="username"><strong>Nome de usuário</strong></label>
      <input type="text" placeholder="Nome de usuário" name="username" required>
      <label for="password2"><strong>Confirme a senha</strong></label>
      <input type="password" placeholder="Confirme a senha" name="password2" required>
    </div>
    <button type="submit"><strong>Registre-se</strong></button>
  </div>
</form>
  </body>
</html>